
div.svg {
  width: 100;
  text-align: center;
  height: auto;
  svg {
    width: 99%;
    margin: auto;
    height: auto;
  }
}


text {
  text-anchor: middle;
  fill: $color-active;
  font-family: 'ingra',sans-serif;
  font-weight: 200;

  &.title {
    font-weight: bold;
    font-size: 20px;
    fill: $color-neutral;
  }

  &.title_run {
    font-family: 'rift',sans-serif;
    font-weight: 700;
    font-size: 40px;
    fill: $color_fai;
  }

  &.title_group {
    font-family: 'rift',sans-serif;
    font-weight: 700;
    font-size: 40px;
    fill: $color_fai;
  }

  &.ongoing {
    fill: $color_active;
  }

  &.finished {
    fill: $color_fai;
  }

  &.winner {
    fill: $color-winner;
    font-weight: 500;
  }

  &.loser {
    fill: $color-loser;
    text-decoration: line-through;
  }
}

rect {
  fill-opacity: 0;
  stroke: $color-fai;
  &.announced {
    fill-opacity: 1;
    fill: white;
  }
  &.winner {
  }
  &.loser {
  }
  &.border0 {
    stroke-dasharray: 5;
    //fill-opacity: 0.1;
    //fill: $color_fai;
    &.finished {
      stroke-dasharray: 0;
      fill-opacity: 0;
    }
  }
  &.quarter {
    stroke-width: 1;
  }
  &.semi {
    stroke-width: 2;
  }
  &.final {
    stroke-width: 3;
  }
}


path {
  fill-opacity: 0;
  stroke: $color-neutral;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;

  &.border {
    fill-opacity: 0;
    stroke-width: 2;
  }

  &.winner {
    stroke: $color-winner;
    &.border {
      stroke: $color-fai;
    }
  }
  &.loser {
    stroke: $color-loser;
    &.border {
      stroke: $color-active;
    }
  }
}

marker {
  fill: $color-fai;
}
